{% extends "account/account_inactive.html" %}
{% load i18n %}
{% block extra %}
<div class="ui left aligned grid">
  <div class="column">
    <div class="ui info icon message">
      <i class="info circle icon"></i>
      <div class="content">
        <div class="header">
          {% trans "Your account may be pending approval" %}
        </div>
        <p>{% trans "If you just registered, we will notify you as soon as we validate your account." %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
